.canvas_window_wrapper {
    display: none;
    .canvas_wrapper {
        width: 63vw;
        // background-color: chocolate;
        .load_image {
            display: block;
            margin: 10px;
            font-size: 16px;
        }
        .canvas {
            background-color: #999;
            margin: 10px;
            margin-bottom: 60px;
        }
    }
}

.active {
    display: flex;
}
